1Rancher/*
/CPM/*
/JmeterLoadTest/apache-jmeter-5.5
/JmeterLoadTest/temp
/JmeterLoadTest/Report_HTML*/
/JmeterLoadTest/jmeter.log
/JmeterLoadTest/*.txt
/K8s-metrics/*.yaml
/K8s-metrics/*.svg
/K8s-metrics/myenv/
/K8s-metrics/*.csv